* {
  box-sizing:border-box;
  margin: 0;
  font-family: 'Volkhov', serif;

}


header , main , footer{
  width: 100%

}
/* header area */
.header-top {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;

}

.nav-top {
  height: 50px;
  border-bottom: 2px solid gray;
  background-color: #ecf0ee;
  list-style: none;

}
.nav-left , .nav-right {
  width: 48%;
  height: 100%;
  text-align: center;
  float: left;
  padding: 10px;
  margin: 0 auto;
}

.nav-bottom {
  height: 50px;
  background-color: #ecf0ee;
}

 .li-setting{
  display: inline-block;
  height: 100%;
  padding: 0px 10px;
}
.li-setting:hover {
  cursor: pointer;
}

#login {
  background-color: white;
  color: #fb7956;
  border: 1px solid #fb7956;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  padding: 3px;
}
#login:hover{
  background-color: #fb7956;
  color: white;
}

#button-orange {
  background-color: #fb7956;
  color: white;
  border-radius: 5px;
  border-color: none;
  font-size: 20px;
  text-decoration: none;
  padding:3px;
}
#button-orange:hover {
  background-color: white;
  color: #fb7956;
}

.logo-site {
  width: 29%;
  height: 100%;
  float: left;
  text-align: right;
  padding: 10px;
}

.menu {
  width: 65%;
  height: 100%;
  float: left;
  text-align: right;
  padding: 10px;
}

.header-bottom {
  margin-top: 100px;
  height: 576px;
  border-bottom: 2px solid black;
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.presentation {
  width: 50%;
  text-align: justify;
  font-size: 27px;
  top: 10%;
  left: 15%;
  position: absolute;
}
.presentation h1 , .presentation p , .presentation h6 {
  padding: 5px;
  line-height: 35px;
}
/* /header area */


/* main area */

.main-top {
  width: 100%;
  border: 2px solid gray;
  background-color: #F4F9FD;
}


.title-product {
  width: 80%;
  height: 30%;
  margin-left: 10%;
  padding: 25px;
  text-align: center;
}

#integrations-img {
  width: 300px;
}

.row-product {
  width: 80%;
  height: 300px;
  margin-left: 10%;
  background-color: white;
  border-radius: 5px;
  border: 0.5px solid gray;
}

.crm-left {
  width: 30%;
  height: 100%;
  padding: 50px;
  text-align: center;
  float: left;
}

.crm-right {
  width: 70%;
  height: 100%;
  padding: 20px;
  float: left;
}

.crm-right h2 , .crm-right p , .crm-right h3 {
  padding: 5px;
  line-height: 50px;
}

#product-logo {
  width: 140px;
  height: 100px;
}

#checkmark{
  margin: 10px;
  color:#fb7956;
}


.columns-product {
  width: 80%;
  margin: 0 10%;
}

.product {
  width: 30%;
  height: 600px;
  border: 0.5px solid gray;
  float: left;
  background-color: white;
  border-radius: 5px;
  margin: 10px 0;
  padding: 30px;
  font-size: 15px;
  text-align: center;
}

.center {
  margin: 10px 5%;
}

.product h2 , .product p , .product h3 {
  padding: 10px;
  line-height: 30px;
}
.product p {
  text-align: left;
}

.main-center {
  width: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(42,176,176,1) 0%, rgba(0,212,255,1) 94%);
}

.main-top::after {
  content: "";
  display: table;
  clear: both;
}

.main-center::after {
  content: "";
  display: table;
  clear: both;
}

.reference-top::after {
  content: "";
  display: table;
  clear: both;
}

.title-statistic {
  width: 100%;

}

.title-statistic h2 {
  text-align: center;
  color: white;
  padding: 40px;
  font-size: 30px;
  margin: 0 10px;
}
.title-statistic p {
  text-align: center;
  color: white;
  font-size: 15px;
  margin: 5px 100px;

}

.statistic {
  height: 60%;
  width: 80%;
  margin: 0 10%;
}

.data-statistic {
  height: 45%;
  width: 25%;
  float: left;
  padding: 30px;
  text-align: center;
  color: white;
}

.border.top {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}
.border.bottom {
  border-right: 1px solid white;
}
.border.right {
  border-bottom: 1px solid white;
}

.data-statistic h2 , .customer-home h2 , .customer-paragraph h2 {
  font-size: 32px;
}



.main-bottom {
  width: 100%;
}

.main-bottom::after {
  content: "";
  display: table;
  clear: both;
}


.reference-top {
  width: 100%
}

.customer-home {
  width: 40%;
  height: 100%;
  padding-top: 50px;
  margin-left: 20px;
  float: left;
}


.logo-home {
  text-align: center;
  width: 50%;
  height: 100%;
  padding-left: 90px;
  float:left;

}

#customerlogo {
  width: 100px;
  height: 40px;
  margin: 30px 15px;
  float: left;
}

.reference-bottom {
  width: 100%;
  margin-top: 50px;

}

.customer-paragraph {
  width: 60%;
  padding: 20px;
  line-height: 50px;
  float: left;
}

.customer-image {
  width: 40%;
  float: left;
}
.customer-image img {
  width: 300px;
  height: 350px;
  margin-left: 50px;
  margin-bottom: 100px;
}

footer {
  background-color: #324A5B;
  text-decoration: none;
}


.top-footer {
  width: 100%;

}

.link-list {
  width: 25%;
  height: 100%;
  line-height: 50px;
  text-align: center;
  float: left;
}
.link-list ul {
  list-style: none;
}

.link-list li {
  height: 100%;
  color: white;
  padding: 0 10px;
}

.link-list a > i {
  margin: 0 4px;
  font-size: 30px;
}

.link-list a {
  text-decoration: none;
  color: white;
  opacity: 0.6;
}

#button-contact {
  background-color: white;
  color: #324A5B;
  border-radius: 5px;
  border-color: none;
  font-size: 17px;
  text-decoration: none;
  padding:3px;
}
#button-contact:hover {
  background-color: #fb7956;
}

.bottom-footer {
  width: 100%;
  height: 100%;
}

.languages {
  width: 90%;
  margin: 0 5%;
  text-align: center;
  color: white;
}

.languages.li-setting {
  padding: 10px 10px;
}

.languages::after {
  content: "";
  display: table;
  clear: both;
}

.copy {
  width: 80%;
  margin: 0 10%;
  padding: 10px;
}

.copy-left {
  width: 50%;
  margin-right: 0;
  padding: 10px;
  text-align: left;
  float: left;
}
.copy-left img {
  margin-left: 0px;
  background: white;
  border-radius: 5px;
  padding: 2px;
}

.copy-right {
  width: 50%;
  margin-right: 0;
  padding: 10px;
  text-align: right;
  float: left;
}

.copy-right label {
  margin: 10px 10px;
}
