* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Volkhov', sans-serif;
}
/* clearfix */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* /clearfix
/* navigatore */
.header-top {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

.nav-top {
  height: 50px;
  border-bottom: 2px solid #808080;
  background-color: #ecf0ee;
  list-style: none;
}
.nav-side {
  width: 48%;
  height: 100%;
  text-align: center;
  float: left;
  padding: 10px;
  margin: 0 auto;
}

.nav-bottom {
  height: 50px;
  background-color: #ecf0ee;
}

#login {
  background-color: #FFF;
  color: #fb7956;
  border: 1px solid #fb7956;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  padding: 3px;
}
#login:hover{
  background-color: #fb7956;
  color: #FFF;
}

#button-orange {
  background-color: #fb7956;
  color: #FFF;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  padding: 3px;
}
#button-orange:hover {
  background-color: #FFF;
  color: #fb7956;
}
/* /navigatore */
 /* menu e logo */
.logo-site , .menu {
  width: 29%;
  height: 100%;
  float: left;
  text-align: right;
  padding: 10px;
}

.menu {
  width: 65%;
}
/*/menu e logo */
/* impostazione per lista */
 .li-setting{
  display: inline-block;
  height: 100%;
  padding: 0 10px;
}
.li-setting:hover {
  cursor: pointer;
}
/* /impostazione per lista */
/* immgine link e dowload */
.header-bottom {
  margin-top: 100px;
  height: 576px;
  border-bottom: 2px solid #000;
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.presentation {
  text-align: justify;
  width: 50%;
  font-size: 27px;
  top: 10%;
  left: 15%;
  position: absolute;
}
.presentation h1 , .presentation p , .presentation h6 {
  padding: 5px;
  line-height: 35px;
}
/* /immgine link e dowload */
/* presentazione servizi */
.main-top {
  border: 2px solid #808080;
  background-color: #F4F9FD;
}

.title-product {
  width: 80%;
  height: 30%;
  margin-left: 10%;
  padding: 25px;
  text-align: center;
}

#integrations-img {
  width: 300px;
}
/* /presentazione servizi */
/* colonna orizzontale prodotti */
.row-product {
  width: 80%;
  height: 300px;
  margin-left: 10%;
  background-color: #FFF;
  border-radius: 5px;
  border: .5px solid #808080;
}

.crm-left {
  width: 30%;
  height: 100%;
  padding: 50px;
  text-align: center;
  float: left;
}

.crm-right {
  width: 70%;
  height: 100%;
  padding: 20px;
  float: left;
}

.crm-right h2 , .crm-right p , .crm-right h3 {
  padding: 5px;
  line-height: 50px;
}

#product-logo {
  width: 140px;
  height: 100px;
}

#checkmark{
  margin: 10px;
  color:#fb7956;
}
/* /colonna orizzontale prodotti */
/* tre colonne verticali prodotti*/
.columns-product {
  width: 80%;
  margin: 0 10%;
}

.product {
  text-align: center;
  width: 30%;
  height: 600px;
  border: .5px solid #808080;
  float: left;
  background-color: #FFF;
  border-radius: 5px;
  margin: 10px 0;
  padding: 30px;
  font-size: 15px;
}

.center {
  margin: 10px 5%;
}

.product h2 , .product p , .product h3 {
  padding: 10px;
  line-height: 30px;
}
.product p {
  text-align: left;
}
/* /tre colonne verticali prodotti*/
/* statistiche e risultati ottenuti  */
.main-center {
  width: 100%;
  background: #020024;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(42,176,176,1) 0%, rgba(0,212,255,1) 94%);
}

.title-statistic {
  width: 100%;
}

.title-statistic h2 {
  text-align: center;
  color: #FFF;
  padding: 40px;
  font-size: 30px;
  margin: 0 10px;
}
.title-statistic p {
  text-align: center;
  color: #FFF;
  font-size: 15px;
  margin: 5px 100px;

}

.statistic {
  height: 60%;
  width: 80%;
  margin: 0 10%;
}

.data-statistic {
  height: 45%;
  width: 25%;
  float: left;
  padding: 30px;
  text-align: center;
  color: #FFF;
}

.border.top {
  border-bottom: 1px solid #FFF;
  border-right: 1px solid #FFF;
}
.border.bottom {
  border-right: 1px solid #FFF;
}
.border.right {
  border-bottom: 1px solid #FFF;
}

.data-statistic h2 , .customer-home h2 , .customer-paragraph h2 {
  font-size: 32px;
}
/* /statistiche e risultati ottenuti  */
/* customer e partners */
footer {
  background-color: #324A5B;
  text-decoration: none;
}

.customer-home {
  width: 40%;
  height: 100%;
  padding-top: 50px;
  margin-left: 20px;
  float: left;
}


.logo-home {
  text-align: center;
  width: 50%;
  height: 100%;
  padding-left: 90px;
  float:left;
}

#customerlogo {
  width: 100px;
  height: 40px;
  margin: 30px 15px;
  float: left;
}

.reference-bottom {
  margin-top: 50px;
}

.customer-paragraph {
  width: 60%;
  padding: 20px;
  line-height: 50px;
  float: left;
}

.customer-image {
  width: 40%;
  float: left;
}
.customer-image img {
  width: 300px;
  height: 350px;
  margin-left: 50px;
  margin-bottom: 100px;
}
/* / customer e partners */
/* link e social */
.link-list {
  width: 25%;
  line-height: 50px;
  text-align: center;
  float: left;
}
.link-list ul {
  list-style: none;
}

.link-list li {
  color: #FFF;
  padding: 0 10px;
}

.link-list a > i {
  margin: 0 4px;
  font-size: 30px;
}

.link-list a {
  text-decoration: none;
  color: #FFF;
  opacity: 0.6;
}

#button-contact {
  background-color: #FFF;
  color: #324A5B;
  border-radius: 5px;
  font-size: 17px;
  text-decoration: none;
  padding:3px;
}
#button-contact:hover {
  background-color: #fb7956;
}
/* /link e social */
/* selezione lingue e Copyright */
.languages {
  width: 90%;
  margin: 0 5%;
  text-align: center;
  color: #FFF;
}

.copy , .languages.li-setting {
  padding: 10px;
}

.copy {
  width: 80%;
  margin: 0 10%;
}


.copy-left , .copy-right {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  text-align: left;
  float: left;
}

.copy-right {
  text-align: right;
}
.copy-left img {
  margin-left: 0;
  background: #FFF;
  border-radius: 5px;
  padding: 2px;
}

.copy-right label {
  margin: 10px;
}
/* /selezione lingue e Copyright */
/* widget chat */
 .widget {
   overflow-x: hidden;
   position: fixed;
   bottom: -60px;
   right: 10px;
   width: 200px;
   height: 200px;
 }
 .message-widget {
   padding: 5px;
   background-color: #FFF;
   border-radius: 4px;
   border: .5px solid #808080;
 }

 .chat-icon{
   font-size: 50px;
   color: #808080;
   text-align: right;
 }
 /*/ widget chat */
